:root {
  --track-border-radius: 0.5rem;
  --track-color: #add8e6; /*lightBlue*/
  --track-height: 0.5rem;
  --track-width: 25rem;
  --thumb-border-radius: 0.5rem;
  --thumb-color: #808080;
  --thumb-height: 1rem;
  --thumb-width: 1rem;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: var(--track-width);
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/*********** Chrome, Safari, Opera and Edge (post Chromium) styles ***********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--track-color);
  border-radius: var(--track-border-radius);
  height: var(--track-height);
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: calc(
    (var(--track-height) / 2) - (var(--thumb-height) / 2)
  ); /* Centers the thumb on the track */

  /*Customizable styles*/
  background-color: var(--thumb-color);
  border-radius: var(--thumb-border-radius);
  height: var(--thumb-height);
  width: var(--thumb-width);
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--thumb-color);
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--track-color);
  border-radius: var(--track-border-radius);
  height: var(--track-height);
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--thumb-color);
  border: none; /*Removes extra border that FF applies*/
  border-radius: var(--thumb-border-radius);
  height: var(--thumb-height);
  width: var(--thumb-width);
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid var(--thumb-color);
  outline-offset: 0.125rem;
}
