.sub-description {
  text-align: center;
  font-style: italic;
  background-color: #80808038;
  border-left: 4px solid grey;
  padding: 1rem;
}

.flex-container-center {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0rem 3rem;
  justify-content: space-between;
}

input[type="number"] {
  width: 3rem;
}

.flex {
  display: flex;
}

label + input {
  margin-left: 1rem;
}

article h3 {
  text-align: center;
  text-decoration: underline;
}

.hide-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

select {
  margin-left: 0.25rem;
}

code {
  min-height: 35rem;
  overflow: scroll;
}

#code-container {
  width: 700px;
}

pre {
  position: relative;
}

#range-input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
  width: 100%;
}

.triangle-top-right {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 95px solid var(--color);
  border-left: 95px solid transparent;
}

.triangle-top-right + a {
  position: absolute;
  top: 2px;
  right: 2px;
}

[id^="card"] h2 {
  text-align: center;
  text-decoration: underline;
}

/***********Tooltip Styles**************/
#copy-btn {
  padding: 0.25rem 0.5rem;
  position: absolute;
  right: 1rem;
  top: 3.5rem;
}

#copy-btn:focus {
  background-color: var(--color-bg);
  color: var(--color);
}

#copy-btn.tooltip::before,
#copy-btn.tooltip::after {
  --scale: 1;
}

#copy-btn::before,
#copy-btn::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #555;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
  color: #fff;
}

/*Tooltip text container*/
#copy-btn::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  width: max-content;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  background: var(--tooltip-color);
}

/*Tooltip bottom arrow*/
#copy-btn::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
